services:
  redis:
    image: redis:7-alpine
    container_name: techflow-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: techflow-backend
    ports:
      - "8000:8000"
    volumes:
      - ./credentials/:/app/credentials
      - ./app:/app/app
      - ./tests:/app/tests
      - ./logs:/app/logs
      - ../dummy_data:/app/dummy_data
    env_file:
      - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy

volumes:
  redis_data:
