services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: techflow-backend
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./tests:/app/tests
      - ./logs:/app/logs
      - ../dummy_data:/app/dummy_data
    env_file:
      - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped
